{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}New Password{% endblock %}

{% block content %}
<div class="bg-login full-width-bg-img veiw-height">
   <div class="container form-relative">
      <div class="row justify-content-center">

         {% if messages %}
         <div>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
         </div>
         {% endif %}

         {% if validlink %}
         <form method="POST" class="form-border p-5"> {% csrf_token %}
            <legend class="text-center text-white">Set New Password</legend>

            {{ form | crispy }}

            <div class="text-center">
               <button class="text-center text-white bg-blue btn btn-border--blue" type="submit">Save</button>
            </div>
         </form>
         {% else %}
            <p>Invalid token.</p>
            <p>
               <a href="{% url 'password_reset' %}">Request a new password reset token</a>
            </p>
         {% endif%}
      </div>
   </div>
</div>

{% endblock %}

<!-- hobby-session-35 -->
