<div class="container">
      {% if messages %}
      {% for message in messages %}
      {{ message }}
      {% endfor %}
      {% endif %}
      <div class="row">
         <div class="col-md-6">
            <h2>{{ product_detail.title }}</h2>
            <p>{{ product_detail.slug }}</p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <img class="card-img-top" src="{{ MEDIA_URL }}{{ product_detail.image }}" alt="Card image cap">
         </div>
         <div class="col-md-6">
            <form method="post" action="{% url 'add-to-cart' product_detail.id %}">
               {% csrf_token %}
               <div class="input-group">
                  <input name="quantity" type="number" min="1" max="999" class="form-control" value="1" hidden>
                  <div class="card-price">
                     <span class="price">${{ product_detail.price }}</span>
                     <span class="input-group-btn float-right">
                        {% if product_detail.stock == 0 %}
                        <button class="btn bg-blue text-white btn-border--blue" type="submit" disabled>Cannot add</button>
                        {% else %}
                        <button class="btn bg-blue text-white btn-border--blue" type="submit">Add to cart</button>
                        {% endif %}
                     </span>
                  </div>
               </div>
            </form>
   
            {% if product_detail.stock > 5 %}
            <div class="card-stock mt-2 text-right">
               <span class="text-success font-weight-bold">In stock > {{ product_detail.stock}} pcs</span>
            </div>
            {% elif product_detail.stock <= 5 and product_detail.stock > 0 %}
            <div class="card-stock mt-2 text-right">
               <span class="text-success font-weight-bold">Less then 5 pcs in stock</span>
            </div>
            {% else %}
            <div class="card-stock mt-2 text-right">
               <span class="text-danger font-weight-bold">Run of stock</span>
            </div>
            {% endif %}
   
            <hr>
   
            <h5>Features</h5>
   
            <ul>
               {% if product_detail.feature_1 != None %}
               <li>{{ product_detail.feature_1 }}</li>
               {% endif %}
   
               {% if product_detail.feature_1 != None %}
               <li>{{ product_detail.feature_2 }}</li>
               {% endif %}
   
               {% if product_detail.feature_1 != None %}
               <li>{{ product_detail.feature_3 }}</li>
               {% endif %}
            </ul>
            <p class="card-text">{{ product_detail.content }}</p>
         </div>
      </div>
   </div>