{% extends 'base.html' %}

{% block head_title %}Search{% endblock %}

{% block content %}
<div class="container">
   <div class="row">
      <div class="col-12 mx-auto">
         {% if query %}
         <p class="lead mt-2 mb-0">You searched for "<em>{{ query }}</em>"</p>
         {% else %}
         <p class="lead text-danger">Please, use the input field for lookup in the left corner or click on the hamburger
            menu.</p>
         {% endif %}
      </div>
   </div>
</div>

<div class="link mt-0">
   <a href="/">Home</a> > Search
</div>

<div class="container">
   <div class="row">
      {% for product in product_list %}
      <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
         <div class="card" style="width: 18rem; margin:auto;">
            <a href="{{ product.get_absolute_url }}">
               <img class="card-img-top" src="{{ MEDIA_URL }}{{ product.image }}" alt="Card image cap">
            </a>
            <div class="card-body">
               <a href="{{ product.get_absolute_url }}">
                  <h5 class="card-title text-center">{{ product.title }}</h5>
               </a>
               <ul>
                  {% if product.feature_1 != None %}
                  <li>{{ product.feature_1|truncatewords:5 }}</li>
                  {% endif %}

                  {% if product.feature_1 != None %}
                  <li>{{ product.feature_2|truncatewords:5 }}</li>
                  {% endif %}

                  {% if product.feature_1 != None %}
                  <li>{{ product.feature_3|truncatewords:5 }}</li>
                  {% endif %}
               </ul>
               <p class="card-text">{{ product.content|truncatewords:7 }}</p>

               <form method="POST">
                  {% csrf_token %}
                  <div class="input-group">
                     <div class="card-price">
                        <span class="price">${{ product.price }}</span>
                        <span class="input-group-btn float-right">
                           <button class="btn btn-success addProductBtn" price="{{ product.price }}"
                              productId="{{ product.id }}">Add to cart</button>
                        </span>
                     </div>
                  </div>
               </form>

               {% if product.stock > 5 %}
               <div class="card-stock mt-2 text-center">
                  <span class="text-success font-weight-bold">In stock > {{ product.stock}} pcs</span>
               </div>
               {% elif product.stock <= 5 and product.stock > 0 %}
               <div class="card-stock mt-2 text-center">
                  <span class="text-success font-weight-bold">Less then 5 pcs in stock</span>
               </div>
               {% else %}
               <div class="card-stock mt-2 text-center">
                  <span class="text-danger font-weight-bold">Run out of stock</span>
               </div>
               {% endif %}
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
</div>

{% endblock %}

{% block ajax_js%}
<script>
   // Global variable for ajax.js otherwise the url would be wrong in the file
   url = '{% url "add-to-cart" 0 %}';

   // AJAX request when click on add product btn
   $(function () {
      console.log(url)
      $('.addProductBtn').on('click', function (e) {
         let productId = $(this).attr("productId")
         url = url.replace('0', productId)

         $.ajax({
            type: 'POST',
            url: url,
            data: {
               productId: productId,
               quantity: 1,
               csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
               if ($('.badge').length === 0) {
                  $('#cart').append("<span class='badge badge-warning'>1</span>")
               } else {
                  let numberItems = $('.badge').text()
                  numberItems++
                  $('.badge').text(numberItems)
               }
            }
         });

         // Return default id 0
         url = '{% url "add-to-cart" 0 %}';
         e.preventDefault();
      });
   });
</script>

{% endblock ajax_js%}